torch==2.7.1
torchvision==0.22.1
datasets==3.6.0
scikit-learn==1.7.1
matplotlib==3.10.5
numpy==2.3.2
Pillow==11.3.0
pandas==2.2.3
scipy==1.14.1
seaborn==0.13.2
#transformers-4.56.0.dev0 must be installed manually with pip install git+https://github.com/huggingface/transformers.git